.btn{
  width: 100%;
}

th{
  background-color: #4d79e1;
  color: white;
}

h3{
  background-color: orange;
  width: 100%;
  color: white;
}

.inv{
  background-color: #269aa9;
  width:100%;
  color: white;
}


.inv2{
  background-color: #21af28;
  width:100%;
  color: white;
}

.cantidad{
  height: 40px;
}

input{
  border-radius: 4px;
  width:20%;
}

.padre {
  width: 70%;
  height: 40px;
  content: inherit;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  background-color:#ffeeb6;
}
.formulario{
  width: 100%;
}
select{
  width: auto;
}
.btn-warning{
  width: 230px;
  height: 40px;
  border-radius: 5px;
}

h1{
  background-color: #c9febf;
  border-radius: 5px;
  padding: 10px;
}
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
